html {
  // INFO: set font-size for html to 62.5% mean that <html> element will have font-size qual to 62.5% * {browser font setting default = 16px ( bootstrap also assum 16px ) } = 10px
  // From now, 1rem will equal to 10 px. This will be easier to scale font-size by rem if one rem is 10px instead of 16px
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

// TODO: global styling here
// Override Default Style
body {
  letter-spacing: 0.1rem;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}


img {
  max-width: 100%;
  height: auto;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

// font size on mobile
@include media-breakpoint-down(md) {
  body {
    font-size: $font-size-mobile;
  }

  h1 {
    font-size: $h1-font-size-mobile;
  }

  h2 {
    font-size: $h2-font-size-mobile;
  }

  h3 {
    font-size: $h3-font-size-mobile;
  }

  h4 {
    font-size: $h4-font-size-mobile;
  }

  h5 {
    font-size: $h5-font-size-mobile;
  }

  h6 {
    font-size: $h6-font-size-mobile;
  }
  .btn-xl {
    padding: 1.2rem 3rem;
    font-size: $font-size-large;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.input-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  font-size: 0;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-title {
  margin-bottom: 25px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 35px;
  }
}

.heading__title {
  font-family: $headings-font-family;
  @include media-breakpoint-down(md) {
    font-size: $headings-font-size-mobile;
  }

  span {
    //display: block;
  }
}

.blue {
  color: $blue;
}

.primary {
  color: $primary;
}

.yellow {
  color: $yellow;
}

.white {
  color: $white;
}

section {
  position: relative;
}