@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes hide-show {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.hamburger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
.hamburger-icon {
  display: inline-block;
  width: 22px;
  height: 16px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media (min-width: 992px) {
  .hamburger-icon {
    width: 30px;
    height: 24px;
  }
}
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: var(--hamburger-background, #fff);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}
.hamburger-icon span:nth-child(odd) {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.hamburger-icon span:nth-child(1), .hamburger-icon span:nth-child(2) {
  top: 0;
}
.hamburger-icon span:nth-child(3), .hamburger-icon span:nth-child(4) {
  top: 8px;
}
@media (min-width: 992px) {
  .hamburger-icon span:nth-child(3), .hamburger-icon span:nth-child(4) {
    top: 10px;
  }
}
.hamburger-icon span:nth-child(5), .hamburger-icon span:nth-child(6) {
  top: 16px;
}
@media (min-width: 992px) {
  .hamburger-icon span:nth-child(5), .hamburger-icon span:nth-child(6) {
    top: 20px;
  }
}
.hamburger.active {
  background-color: transparent;
}
.hamburger.active .hamburger-icon span {
  background: var(--hamburger-background, #fff);
}
.hamburger.active .hamburger-icon span:nth-child(1) {
  left: 1px;
  top: 8px;
}
@media (min-width: 992px) {
  .hamburger.active .hamburger-icon span:nth-child(1) {
    left: 3px;
    top: 7px;
  }
}
.hamburger.active .hamburger-icon span:nth-child(2) {
  left: calc(50% - 3px);
  top: 8px;
}
@media (min-width: 992px) {
  .hamburger.active .hamburger-icon span:nth-child(2) {
    top: 7px;
  }
}
.hamburger.active .hamburger-icon span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.hamburger.active .hamburger-icon span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.hamburger.active .hamburger-icon span:nth-child(5) {
  left: 0;
  top: 16px;
}
@media (min-width: 992px) {
  .hamburger.active .hamburger-icon span:nth-child(5) {
    left: 2px;
    top: 17px;
  }
}
.hamburger.active .hamburger-icon span:nth-child(6) {
  left: calc(50% - 2px);
  top: 16px;
}
@media (min-width: 992px) {
  .hamburger.active .hamburger-icon span:nth-child(6) {
    left: calc(50% - 2px);
    top: 17px;
  }
}
.hamburger.active .hamburger-icon span:nth-child(1), .hamburger.active .hamburger-icon span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger.active .hamburger-icon span:nth-child(2), .hamburger.active .hamburger-icon span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburger.active .hamburger-icon--custom span {
  background-color: var(--hamburger-background-custom, #007CC7);
}

.header .menu-mobile {
  width: var(--header-menu-mobile-width, 450px);
  max-width: 100%;
  background: var(--header-menu-mobile-background, #fff);
  position: fixed;
  height: 100%;
  top: 0;
  left: var(--header-menu-mobile-left, -450px);
  z-index: var(--header-menu-mobile-z-index, 999);
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.header .menu-mobile.active {
  left: 0;
}
.header .menu-mobile .logo-mobile {
  border-bottom: var(--header-menu-mobile-border-bottom-width, 3px) solid var(--header-menu-mobile-border-bottom-color, #D9D9D9);
  position: relative;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-menu-mobile-height, 100px);
}
.header .menu-mobile .logo-mobile img {
  height: auto;
  max-width: var(--header-menu-mobile-logo-max-width, 200px);
}
.header .menu-mobile .logo-mobile .btn-close-menu {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.header .menu-mobile .box-scroll {
  overflow: auto;
  height: calc(100% - var(--header-menu-mobile-height, 100px));
}
.header .menu-mobile .nav > li {
  width: 100%;
  position: relative;
  padding: 20px 25px;
  border-bottom: var(--header-menu-mobile-border-bottom-width, 3px) solid var(--header-menu-mobile-border-bottom-color, #D9D9D9);
}
.header .menu-mobile .nav > li > a {
  color: var(--header-menu-mobile-link-color, #007CC7);
  display: block;
  font-size: var(--header-menu-mobile-link-font-size, 2.4rem);
}
.header .menu-mobile .nav > li > a[aria-expanded=true]:before {
  transform: rotate(180deg);
  top: 5px;
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li > a[aria-expanded=true] i {
  transform: rotate(-180deg);
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li > a[data-toggle=collapse]:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: #d0d0d0;
  position: absolute;
  right: 0;
  top: 11px;
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li > a i {
  position: absolute;
  right: 0;
  top: 8px;
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li.active > a {
  color: #08f;
}
.header .menu-mobile .nav > li .sub-menu {
  padding-left: 15px;
  border-left: 1px solid #dfdfdf;
  list-style: none;
  margin-top: 10px;
}
.header .menu-mobile .nav > li .sub-menu li {
  position: relative;
}
.header .menu-mobile .nav > li .sub-menu li a {
  font-size: 1.6rem;
  color: var(--header-color);
  line-height: 22px;
  display: block;
  padding: 0;
  margin: 0 0 17px;
}
.header .menu-mobile .nav > li .sub-menu li a[data-toggle=collapse]:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: #d0d0d0;
  position: absolute;
  right: 0;
  top: 11px;
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li .sub-menu li a[aria-expanded=true]:before {
  transform: rotate(180deg);
  top: 4px;
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li .sub-menu li a[aria-expanded=true] i {
  transform: rotate(-180deg);
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li .sub-menu li a span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #8f8f8f;
}
.header .menu-mobile .nav > li .sub-menu li a i {
  position: absolute;
  right: 0;
  top: 2px;
  transition: all 0.2s ease-in-out;
}
.header .menu-mobile .nav > li .sub-menu li:last-child a {
  margin: 0;
}
.header .menu-mobile .nav > li .show-sub .sub-menu {
  margin-top: 0;
}

/*# sourceMappingURL=stylesheet.css.map */
